body {
    background-color: black;
    font-family: 'Bangers', cursive;
}

h1 {
    font-size: 100px;
    font-family: 'Bangers', cursive;
    color: #FFB81C;
    text-align: center;
    margin-left: 5rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header img {
    transform: rotate(20deg);
    margin-top: 2rem;
    width: 130px;
    height: 160px;
    padding-left: 20px;
}


button {
    padding: 20px 60px;
    background-color: #FFB81C;
    font-weight: bold;
    margin-bottom: 5rem;
    margin-right: 2.5rem;
    border-radius: 7px;
    border: 1px solid #FFB81C;
    font-family: 'Bangers', cursive;
    color: #6F263D;
    text-decoration: none;
    font-size: 25px;
}

button:hover {
    background-color: black;
    color: #FFB81C;

}



.game-info {
    display: flex;
    flex-direction: row;
}

.instructions h1 {
    font-size: 34px;
    margin-left: 8rem;
}

.instructions {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
}

.instructions li {
    margin-top: -15px;
    color: white;
    padding-bottom: 16px;;
    font-size: 18px;
    list-style-type: none;
    margin-left: 15rem;
    font-family: 'Cairo', sans-serif;
}

.game-objects h1 {
    font-size: 34px;
    margin-right: 140px;
}

.object-row {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    
}

.object-pic {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
}



.game-objects li {
    margin-top: -15px;
    color: white;
    padding-bottom: 16px;;
    font-size: 18px;
    list-style-type: none;
    font-family: 'Cairo', sans-serif;
}

.btn {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: 30px;
    margin-right: 24rem;
}

.background {
    background-color: black;
}

.lebron img {
    width: 300px;
    height: 180px;
    margin-top: 30px;
    float: left;
    margin-left: 20rem;
}

#hoop {
    width: 35px;
    margin-left: 4px;
}

